package templates

templ Nav() {
	<nav class="nav">
		<div class="nav-container">
			<a href="/" class="nav-logo">Folio</a>
			<ul class="nav-menu">
				<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</div>
	</nav>
}
